/* src/index.css */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
  padding: 50px;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
